*{
    margin: 0;
    padding: 0;
}

header {
    background-color: antiquewhite;
    border: groove 2px black;
    margin: 4px;
    padding: 2px 2px 2px 2px;
    color: rgb(12, 58, 1);
}
/* ==========Navbar========*/

.min-navbar {

  background-color: rgba(211, 235, 226, 0.892); 
  
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
nav li{
    display: inline-block;
}

 .min-navbar .contents {
    display:  flex;
    height: 100px;
    align-items: center;
 } 


.min-navbar .menu {
    flex-grow: 1;
    width: 100px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;
}
.min-navbar .menu img {
    width: 40px;
    height: 40px;
    padding: 5px;
    z-index: 999;
    position: absolute;
    border-radius: 50%;
    background-color:#ffffff;
    
}

.min-navbar ul{
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: -100vw;
    list-style: none;
    padding-top: 150px;
    position: absolute;
    text-align: center;
    background-color: burlywood;
    
}

/* ========Body=======*/
body {
    color: #182201;
    font-family: "Raleway", sans-serif;
    background-color: lightgrey;
    }

p {
    font-size: 20px;
    line-height: 30px;
}
section {
    display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: space-between;
}
/* .about div {
    margin: 10px;
    padding: 10px;    
} */
section h2 {
    border-right: 4mm ridge rgba(108, 114, 4, 0.6);
    text-align: right;
  flex: 0 0 20%;
    width: 10%;
    padding-right: 15px; 
    font-size: 20px;
}

section div {
    flex: 0 0 75%;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project{
    border: solid 3px black;
    min-height: 200px;
    max-height: 200px;
    flex-basis: calc(50% - 1em);
    margin: 7px;
    background-color: #182201;
}
.pcard1{
    min-height: 400px;
    flex-basis: 100%;
    background-image: url('./images/README-SneakPeak.png');
    background-size: cover;
}


.contact {
    display: flex;
    
}

  
    
/* 

.pcard {
    overflow: hidden;
    width: 1600px;
    height: 250px;
    margin: 5px;      
}
.pcard1,
.pcard2,
.pcard3 {
    border: solid;
    padding: 20px;
    background-color:darkslategray;
} */
